/*
COLORS:
Black:000000
ForestGreen:228B22
White:fff
*/
} 
image-content >img{
	max-width: px;

}
body {
	background-color:none;
	color:#000000
}
.set {
/* max-width: 960px;*/
}
#header {
	background-color:none;
	min-height: 80px;
}
#header > h1 {
	margin: 0;
    text-align: center;
    position: relative;transform: translateY(50%)
} 
#header > h2 {
	margin: 0;
    text-align: center;
    position: relative;transform: translateY(50%)
}
#nav {
	width: 100%;
    background-color: #fff;
    min-height: 80px;
    height: auto;
	border-bottom: 2px solid black;
}
#nav > ul {
	margin-left: 2em;
    padding: 15px 0 15px 0;
    margin: 0;
    text-align: center
}
#nav > ul > button {
min-width: 178px;
	color:black;
	background-color: ;
	border:none;
	padding: 15px 32px;
	transition: background-color .25s;
	border-bottom: 2px solid #000000;
}
#nav > ul > button:hover {
	background-color: #000000;
}
/*
.menu {
	display:flex;
	background:#d7e6f;
	justify-content: center;
	list-style-type: none;
	margin:0;
	position: relative;
	transform: translateY(100%);
}
*/
/*
.menu > li {
	margin: 0 15px 0 15px;
}
#middle-wrapper-width {
	display: flex;
	max-width: 960px;
	margin: 0 auto;
}
#middle-wrapper {
	
	background-color: none;
	margin: 0 auto;
}
*/
.side-by-side {
    margin: 0 auto;
    text-align: left;
    max-width: 500px;	
}
#main-content-wrapper .image-content {
	text-align: center;
	margin:0 auto;
	margin-top: 60px;
}
.image-content > h4 {
	font-weight: 300;
	color: #fff; 
}
.image-content > h4 > a {
	color: #fff
}
#main-content-wrapper article {

}

#main-content-wrapper article h2 {
	text-align: center;
}

#main-content-wrapper article p {
	max-width: 300px;
	margin: 0 auto;
}
#main-content-wrapper #Jobs span {
	font-weight: 400;
}
#aside-content-wrapper {
	background-color: forestgreen;
	background-color: #fff;
	margin-top: 50px;
}
#aside-right {
	margin: 0 50px 0 8px;
}
#aside-right h3{
	text-align: center;
}
#latest-work {
	list-style-type: none;
}
#latest-work > li {
	padding:15;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	border-bottom: none;
	text-align: center;
}
#latest-work > li:before {
	content: "";
	border-color: transparent #fff;
	border-style: solid;
	border-width: 0.35em 0 0.35em 0.45em;
	display: block;
	height: 0;
	width: 0;
	left: -1em;
	top: 0.9em;
	position: relative;
	position: relative;
}
favorite-sites > ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 40px;
}
footer {
	background-color: #fff;
	text-align: right;
	min-height: 100px;
}
/*Bootstrap Related*/
.container-fluid {
	padding:0;
}
.img-modal {
	    text-align: center;
}
.favorite-sites > .row > .col-md-12 > img {
margin: 0 auto;
}